[package]
name = "bam_tide"
version = "1.0.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
bigtools = "0.5.6"
clap = "4.5.56"
rayon = "1.11.0"
rust-htslib = "1.0.0"
tempfile = "3.24.0"
tokio = "1.49.0"

scdata = { path = "../scdata" }
gtf_splice_index = { path = "../gtf_splice_index" }
mapping_info = { git="https://github.com/stela2502/mapping_info.git" }
int_to_str = { path = "../int_to_str"}
assert_cmd = "2.1.2"
